Package: net.swigger.wechatredenvelop
Name: WeChatRedEnvelop
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: This tweak can't make you rich!
Maintainer: swigger <swigger@gmail.com>
Author: swigger
Section: Tweaks
